:root {
    --main-color: rgb(29,169,224);
    --main-color2: rgb(11, 97, 131);
}
.profileMainContentEdit{
    margin: 10px 20px;
    /* background-color: aquamarine; */
}
.profileMainContentEdit h2{
    border-bottom: 1px solid var(--main-color);
    padding-bottom: 5px;
    color: var(--main-color);
}
.profileMainContentEdit form{
    padding: 10px 20px;
    margin-right: 30px;
}
.profileMainContentEdit p label{
    display: block;
    font-size: 15px;
    margin: 10px 0 5px;
    color: var(--main-color);
    font-weight: bold;
}
.profileMainContentEdit p input{
    width: 100%;
    height: 30px;
    outline: none;
    border: 2px solid black;
    border-radius: 5px;
    padding: 0 15px;
    font-size: 15px;
}
.profileMainContentEdit span{
    margin-left: 50%;
}
input.submitBtn{
    background-color: var(--main-color);
    color: white;
    font-weight: bold;
    margin-top: 10px;
    padding: 5px 20px;
    font-size: 15px;
    border-radius: 8px;
    border: 2px solid black;
    cursor: pointer;
}

@media only screen and (max-width: 688px) {
    .profileMainContentEdit h2{
        font-size: 15px;
    }
}