:root {
    --main-color: rgb(29,169,224);
    --main-color2: rgb(11, 97, 131);
}  
.findContractors{
    margin-top: 66px;
    position: relative;
    height: 85%;
    padding: 20px 80px;
}
#map{
    position: fixed;
    width: 55%;
    height: 85%;
    background-color: black;
}
.findContractorsFilter .filterButton{
    font-size: 25px;
    background-color: var(--main-color);
    color: #fff;
    padding: 5px 20px;
    width: fit-content;
    position: absolute;
    top: 20px;
    right: 0;
    border-radius: 5px;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    cursor: pointer;
    text-transform: uppercase;
    transition: background-color, font-weight .25s ease-in-out, padding .25s ease-in-out;
}
.filterButton:hover{
    background-color: rgb(18, 139, 187);
    padding: 10px 25px;
    font-weight: bold;
}

.filterFindContractors{
    position: fixed;
    /* box-shadow: 0 0 25px 25px rgba(11, 97, 131, 0.801); */
    top: 40%;
    z-index: 10;
    left: 80%;
    transform: translate(-50%, -50%);
    background-color: rgb(83, 193, 236);
    border-radius: 5px;
    padding: 20px;
    display: none;
    opacity: 0;
}
#filterss{
    position: absolute;
    top:20;
    height: 40px;
    right: 0;
    width: 230px;
    opacity: 0;
    cursor: pointer;
}
#filterss:checked ~ .filterFindContractors{
    display: inherit;
    opacity: 1;
}
.filterFindContractors .filterButton input{
    position: relative;
    top: 0;
    right: 0;
}
.filterFindContractors form label{
    display: block;
    margin: 10px 0;
}
.filterFindContractors form h1{
    color: white;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    background-color: var(--main-color2);
}
.filterFindContractors form select{
    width: 100%;
    height: 40px;
    font-size: 15px;
    padding: 0 10px;
}
.filterFindContractors form input{
    height: 40px;
    padding: 0 5px;
    width: 45%;
    font-size: 15px;
}

.findContractorsProject{
    position: absolute;
    top: 30px;
    width: 38%;
    right: 30px;
    height: 650px;
}
.findContractorsProject h2{
    margin-left: 20px;
    color: var(--main-color);
}
.allFindProjects{
    display: flex;
    flex-wrap: wrap;
    overflow: auto;
    justify-content: space-around;
    height: 650px;

}
.findContractorsProject .findProject{
    display: flex;
    margin-bottom: 20px;
    flex-direction: column;
    width: fit-content;
    height: fit-content;
    padding: 20px 25px;
    background-color: rgba(11, 97, 131, 0.699);
    align-items: center;
    border-radius: 10px;
    color: white;
    justify-content: center;
}
.findProject img{
    width: 60px;
    border-radius: 50%;
    background-color: rgba(11, 97, 131, 0.473);
    margin-bottom: 10px;
}
.findProject hr{
    width: 80%;
    border: none;
    background-color: black;
    height: 1px;
}
.findProject a{
    margin-top: 20px;
    width: 100%;
    text-align: center;
    background-color: rgb(29,169,224);
    padding: 10px;
    border-radius: 10px;
    color: white;
}
.findProjectContactDetails{
    display: flex;
    flex-direction: column;
    align-items: space-around;
    width: 200px;
}
.fpcdetails {
    display: flex;
    margin-top: 15px;
    flex-direction: row;
    justify-content: space-between;
    font-size: 15px;
}
