:root {
    --main-color: rgb(29,169,224);
    --main-color2: rgb(11, 97, 131);
}  
.findContractors{
    margin-top: 66px;
    position: relative;
    height: 85%;
    padding: 20px 80px;
}
#map{
    position: fixed;
    width: 55%;
    height: 85%;
    background-color: black;
}
.filterButton{
    float: right;
    position: absolute; 
    top: 20px;
    right: 50px;
    z-index: 20;
    color: #fff;
    padding: 5px 20px;
    font-size: 20px;
    font-weight: bold;
    background-color: var(--main-color2);
    border-radius: 5px;
    cursor: pointer;
    transition: background-color, font-weight .25s ease-in-out, padding .25s ease-in-out;
}

#filterss:checked ~ .filterFindContractors{
    display: inherit;
    opacity: 1;
}

.filterButton:hover{
    background-color: rgba(18, 131, 175, 0.699);
    padding: 8px 23px;
    font-weight: bold;
} 

.filterFindContractors{
    position: fixed;
    top: 40%;
    z-index: 10;
    left: 80%;
    transform: translate(-50%, -50%);
    background-color: rgb(83, 193, 236);
    border-radius: 5px;
    padding: 20px;
    display: none;
    opacity: 0;
}

.filterFindContractors .filterButton input{
    position: relative;
    top: 0;
    right: 0;
}
.filterFindContractors form label{
    display: block;
    margin: 10px 0;
}
.filterFindContractors form h1{
    color: white;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    background-color: var(--main-color2);
}
.filterFindContractors form select{
    width: 100%;
    height: 40px;
    font-size: 15px;
    padding: 0 10px;
}
.filterFindContractors form input{
    height: 40px;
    padding: 0 5px;
    width: 45%;
    font-size: 15px;
}

.findContractorsProject{
    position: absolute;
    top: 30px;
    width: 38%;
    right: 30px;
    height: 650px;
}
.findContractorsProject h2{
    margin-left: 20px;
    color: var(--main-color);
}
.allFindProjects{
    display: flex;
    flex-wrap: wrap;
    overflow: auto;
    justify-content: space-around;
    height: 650px;

}
#filterss{
    opacity: 0;
}
.findContractorsProject .findProject{
    display: flex;
    margin-bottom: 20px;
    flex-direction: column;
    width: fit-content;
    height: fit-content;
    padding: 20px 25px;
    background-color: rgba(11, 97, 131, 0.699);
    align-items: center;
    border-radius: 10px;
    color: white;
    justify-content: center;
}
.findProject img{
    width: 60px;
    border-radius: 50%;
    background-color: rgba(11, 97, 131, 0.473);
    margin-bottom: 10px;
}
.findProject hr{
    width: 80%;
    border: none;
    background-color: black;
    height: 1px;
}
.findProject a{
    margin-top: 20px;
    width: 100%;
    text-align: center;
    background-color: rgb(29,169,224);
    padding: 10px;
    border-radius: 10px;
    color: white;
}
.findProjectContactDetails{
    display: flex;
    flex-direction: column;
    align-items: space-around;
    width: 200px;
}
.fpcdetails {
    display: flex;
    margin-top: 15px;
    flex-direction: row;
    justify-content: space-between;
    font-size: 15px;
}

@media only screen and (max-width: 1024px){
    .findContractors{
        height: 100%;
    }
    .findContractorsProject h2{
        margin-left: 60px;
        font-size: 18px;
    }
    .filterFindContractors{
        left: 70%;
    }
}
@media only screen and (max-width: 936px){
    
    #map{
        position: inherit;
        width: 100%;
        height: 85vh;
        margin-bottom: 50px;
    }
    .findContractors{
        padding: 0;
        height: 150%;
    }
    .findContractorsProject{
        position: inherit;
        width: 100%;
        height: fit-content;
    }
    .allFindProjects{
        height: fit-content;
        overflow: auto;
        flex-wrap: nowrap;
        justify-content: flex-start;
    }
    .allFindProjects .findProject{
        margin-left: 20px;
    }
    .filterButton{
        position: inherit;
    }
    .findContractorsFilter{
        right: 0;
        top: 50%;
        width: 100%;
    }
}