:root {
    --main-color: rgb(29,169,224);
    --main-color2: rgb(11, 97, 131);
}
.joinBid{
    position: relative;
    margin-top: 60px;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
}
.contractorSignup{
    width: 70%;
    height: 100vh;
    padding: 30px;
    color: var(--main-color);
}
.joinBid h1{
    font-size: 40px;
    width: 100%;
    text-align: center;
}
.signUpForm{
    display: flex;
    flex-direction: row;
}
.insertImage{
    flex-basis: 30%;
}
.originalForm{
    flex-basis: 70%;
    padding: 70px 0;
}
.imgWrapper{
    height: 200px;
    width: 200px;
    position: relative;
    border-radius: 50%;
    background: url(/Images/userUpload.png);
    background-size: 100% 100%;
    background-position: center;
    margin: 50px auto;
    background-color: var(--main-color);
    overflow: hidden;
}
.profilePictureUpload{
    position: absolute;
    bottom: 0;
    outline: none;
    color: transparent;
    width: 100%;
    box-sizing: border-box;
    padding: 15px 83px;
    cursor: pointer;
    background-color:rgba(0, 0, 0, 0.4);
    opacity: 1;
    transition: background-color .15s ease-in-out;
}
.profilePictureUpload::-webkit-file-upload-button{
    visibility: hidden;
}
.profilePictureUpload::before{
    content:'\f030';
    font-family: fontAwesome;
    color: white;
    font-size: 30px;
    display: inline-block;
    -webkit-user-select: none;
}
.profilePictureUpload::after{
    content: 'Upload';
    font-weight: bold;
    color: #fff;
    display: block;
    margin-top: 5px;
    left: 40%;
    transform: translateY(-50%);
    font-size: 12px;
    position: absolute;
}
.profilePictureUpload:hover{
    background-color:rgba(0, 0, 0, 0.6);
}
.originalForm input,
.originalForm textarea{
    width: 80%;
    outline: none;
    padding: 0 10px;
    color: var(--main-color2);
    font-size: 14px;
    margin: 5px 0 20px;
    border-radius: 5px; 
    border: 1px solid gray;
}
.originalForm textarea{
    padding: 10px 10px 0;
}
.originalForm input{
    height: 25px;
}
.originalForm label{
    display: block;
}
.division{
    display: flex;
    width: 84%;
    /* background-color: green; */
    justify-content: space-between;
}
.division input{
    width: 90%;
}
.half1,
.half2{
    flex-basis: 50%;
}
.originalForm input[type="submit"]{
    background-color: rgb(29,169,224);
    width: fit-content;
    color: #fff;
    font-weight: bold;
    border: none;
    cursor: pointer;
}

@media only screen and (max-width: 800px){
    .signUpForm{
        flex-direction: column;
    }
    .contractorSignup{
        padding: 30px 0;
        width: 95%;
    }
    .contractorSignup h1{
        font-size: 20px;
    }
    .imgWrapper{
        margin: 20px auto;
        width: 100px;
        height: 100px;
    }
    .profilePictureUpload{
        padding: 3px 35px;
    }
    .profilePictureUpload::before{
        display: none;
    }
    .profilePictureUpload::after{
        content: '\f030    Upload';
        font-family: fontAwesome;
        margin-top: 0;
        left: 25%;
        font-size: 10px;
        top: 13px;
    }
    .originalForm{
        padding: 0;
    }
    .division{
        display: inherit;
        width: 100%;
    }    
    .originalForm label{
        font-size: 14px;
    }
    footer,
    .bottom-footer{
        display: none;
    } 

    .originalForm input,
    .originalForm textarea,
    .division input{
        width: 93%;
    }
    .originalForm input[type="submit"]{
        width: 100%;
    }
}