:root {
    --main-color: rgb(29,169,224);
    --main-color2: rgb(11, 97, 131);
}  

.projectSearchBar{
    position: static;
    margin-top: 90px;
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 100%;
    justify-content: center;
}
.projectSearchBar form input:first-child{
    width: 800px;
    height: 40px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    font-size: 16px;
    padding-left: 30px;
    padding-right: 30px;
    outline: none;
    color: black;
    font-weight: bold;
    border: 2px solid rgba(0, 0, 0, 0.575);
    margin-right: -6px;
    border-right: none;
}
.projectSearchBar form input:first-child::placeholder{
    color: var(--main-color);
    opacity: 0.5;
}

.projectSearchBar form input:last-child{
    width: 100px;
    height: 44px;
    font-size: 16px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    outline: none;
    color: white;
    font-weight: bold;
    border: 2px solid rgba(0, 0, 0, 0.575);
    cursor: pointer;
    border-left: none;
    background-color: var(--main-color);
}
.projectSearchBar form input:last-child:hover{
    background-color: rgb(16, 143, 194);    
}



/* List Project */
.listProject{
    position: relative;
    margin: 50px 160px;
}
.listProject-filter{
    position: fixed;
    border-radius: 20px;
    padding: 20px;
    background-color: rgba(1, 106, 114, 0.089);
}
.listProject-filter .filter-btn{
    padding: 5px 20px;
    background-color: var(--main-color);
    width: fit-content;
    border-radius: 5px;
    color: #fff;
    margin-left: 120px;
}
.listProject-filter form label{
    display: block;
    font-size: 1.5rem;
    margin: 30px 0 10px 0;
}
.listProject-filter form input{
    width: 130px;
    height: 30px;
    outline: none;
    border-radius: 5px;
    border: 1px solid black;
    padding-left: 30px;
}
.listProject-filter form select{
    width: 130px;
    border-radius: 5px;
    height: 30px;
    outline: none;
    padding-left: 30px;
}
.allListProject{
    margin-left: 26rem;
    height: 100vh;
}
@media only screen and (max-width: 770px) {
    
    /* Search Bar Responsiveness */
    .projectSearchBar form input:first-child{
        width: 50vw;
    }
    .projectSearchBar form input:last-child{
        width: 70px;
    }
    .listProject{
        margin: 0 ;
    }
    .listProject-filter{
        background-color: white;
    }
    .listProject-filter form h1{
        margin-left: 0;
        color: white;
        font-size: 1.3rem;
        cursor: pointer;
        padding: 5px 10px;
        background-color: var(--main-color);
        border-radius: 5px;
        width: fit-content;
    }
    .listProject-filter{
        position: static;
    }
    .listProject-filter form{
        position: static;
        width: 90%;
        border-radius: 10px;
        margin-top: 10px;
        background-color: rgba(29, 169, 224, 0.507);
        padding: 20px;
    }
    .listProject-filter form input{
        width: 37%;
    }
    .listProject-filter form label{
        font-size: 1rem;
    }
    .allListProject{
        z-index: 10;
        position: relative;
        top: 1rem;
        margin-left: 20px;
    }
}