:root {
    --main-color: rgb(29,169,224);
    --main-color2: rgb(11, 97, 131);
}  

.projectSearchBar{
    position: static;
    margin-top: 90px;
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 100%;
    justify-content: center;
}
.projectSearchBar form input:first-child{
    width: 800px;
    height: 40px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    font-size: 16px;
    padding-left: 30px;
    padding-right: 30px;
    outline: none;
    color: black;
    font-weight: bold;
    border: 2px solid rgba(0, 0, 0, 0.575);
    margin-right: -6px;
    border-right: none;
}
.projectSearchBar form input:first-child::placeholder{
    color: var(--main-color);
    opacity: 0.5;
}

.projectSearchBar form input:last-child{
    width: 100px;
    height: 44px;
    font-size: 16px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    outline: none;
    color: white;
    font-weight: bold;
    border: 2px solid rgba(0, 0, 0, 0.575);
    cursor: pointer;
    border-left: none;
    background-color: var(--main-color);
}
.projectSearchBar form input:last-child:hover{
    background-color: rgb(16, 143, 194);    
}



/* List Project Filter*/
.listProject{
    position: relative;
    margin: 50px 160px;
}
.listProject-filter{
    position: fixed;
    border-radius: 20px;
    padding: 20px;
    /* background-color: rgba(1, 106, 114, 0.089); */
    border: 1px solid rgba(128, 128, 128, 0.445);
}
.listProject-filter h1{
    padding: 5px 20px;
    background-color: var(--main-color);
    width: fit-content;
    border-radius: 5px;
    color: #fff;
    margin-left: 120px;
}
.listProject-filter form label{
    display: block;
    font-size: 1.5rem;
    margin: 30px 0 10px 0;
}
.listProject-filter form input{
    width: 130px;
    height: 30px;
    outline: none;
    border-radius: 5px;
    border: 1px solid black;
    padding-left: 30px;
}
.listProject-filter form select{
    width: 130px;
    border-radius: 5px;
    height: 30px;
    background-color: #fff;
    outline: none;
    padding-left: 30px;
}

/* Project List */

.allListProject{
    margin-left: 26rem;
    height: max-content;
    color: var(--main-color);
    margin-bottom: 200px;
    /* background-color: rgba(1, 106, 114, 0.089); */
    border: 1px solid rgba(182, 181, 181, 0.534);
    padding: 20px;
    border-radius: 20px;
}

.listProjectCard{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: fit-content;
    border-radius: 20px;
    padding: 30px;
    margin-top: 20px;
    background-color: #fff;
    border: 1px solid rgba(182, 181, 181, 0.534);
}
.listProjecttitle{
    display: none;
}
.listProject-profile{
    flex-basis: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.listProject-profile img{
    width: 180px;
    padding-top: 10px;
    background-color: rgba(1, 106, 114, 0.089);
    border-radius: 50%;
    border: 2px solid var(--main-color);
    margin-bottom: 10px;
}
.listProjectUserName{
    text-align: center;
}
.listProjectUserName p{
    color: rgb(88, 88, 88);
    font-size: 0.8rem;
}
.go-to-top-button{
    display: none;
}
.listProject-profile-Content{
    margin-left: 20px;
    display: flex;
    flex-direction: column;
}
.listProject-profile-Content h2{
    font-size: 16px;
    text-align: justify;
    color: var(--main-color);
}
.listProject-profile-Content span{
    margin-top: 10px;
    color: var(--main-color);
    font-size: 14px;
}
.listProject-profile-Content p{
    color: #333333;
}
.listProject-profile h4{
    color: #333333;
}
.list-project-inner-btn img{
    width: 25px;
    filter: contrast(2);
}
.list-project-inner-btn{
    margin-top: 30px;
}
.list-project-inner-btn a{
    color: var(--main-color2);
}
.list-project-inner-btn a span{
    font-size: 20px;
    color: #333333;
    margin-left: 40px;
}

@media only screen and (max-width: 1150px) {
    
    /* Search Bar Responsiveness */
    .projectSearchBar form input:first-child{
        width: 50vw;
    }
    .projectSearchBar form input:last-child{
        width: 70px;
    }
    .listProject{
        margin: 0 ;
    }
    .listProject-filter{
        background-color: white;
    }
    .listProject-filter form h1{
        margin-left: 0;
        color: white;
        font-size: 1.3rem;
        cursor: pointer;
        padding: 5px 10px;
        background-color: var(--main-color);
        border-radius: 5px;
        width: fit-content;
    }
    .listProject-filter{
        position: static;
    }
    .listProject-filter form{
        position: static;
        width: 90%;
        border-radius: 10px;
        margin-top: 10px;
        background-color: rgba(29, 169, 224, 0.507);
        padding: 20px;
    }
    .listProject-filter form input{
        width: 37%;
    }
    .listProject-filter form label{
        font-size: 1rem;
    }
    .allListProject{
        z-index: 10;
        position: relative;
        top: 1rem;
        background-color: transparent;
        margin-left: 0;
        margin-bottom: 20px;
        padding: 0;
        border-top: 6px solid rgba(182, 181, 181, 0.534);
        border-radius: 0;
    }
    h1.listProjecttitle{
        display: inherit;
        margin-left: 10px;
    }
    .listProjectCard{
        margin-top: 0;
        flex-direction: column;
        border-bottom: 6px solid rgba(182, 181, 181, 0.534);
        padding: 10px;
        border-radius: 0;
        padding-bottom: 20px;
    }
    .listProject-profile{
        position: relative;
    }
    .listProject-profile{
        display: inline;   
    }
    .listProjectUserName h4{
        padding: 0;
    }
    .allListProject h1{
        display: none;
    }
    .listProjectUserName{
        position: absolute;
        text-align: left;
        line-height: 20px;
        top: 5px;
        left: 57px;
    }
    .listProjectUserName p{
        color: rgb(88, 88, 88);
        font-size: 0.8rem;
    }
    .listProject-profile img{
        width: 13%;
        padding: 0;
        margin-bottom: 0;
    }
    .go-to-top-button{
        display: inherit;
    }
    .listProject-profile-Content{
        margin-top: 20px;
        margin-left: 0;
    }
    .listProject-profile-Content h2{
        font-size: 14px;
    }
    .listProject-profile-Content p{
        font-size: 13px;
    }
}