:root {
    --main-color: rgb(29,169,224);
    --main-color2: rgb(11, 97, 131);
}  

.projectSearchBar{
    position: fixed;
    top: 90px;
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 100%;
    justify-content: center;
}
.projectSearchBar form input:first-child{
    width: 800px;
    height: 40px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    font-size: 16px;
    padding-left: 30px;
    padding-right: 30px;
    outline: none;
    color: black;
    font-weight: bold;
    border: 2px solid rgba(0, 0, 0, 0.575);
    margin-right: -6px;
    border-right: none;
}
.projectSearchBar form input:first-child::placeholder{
    color: var(--main-color);
    opacity: 0.5;
}

.projectSearchBar form input:last-child{
    width: 100px;
    height: 44px;
    font-size: 16px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    outline: none;
    color: white;
    font-weight: bold;
    border: 2px solid rgba(0, 0, 0, 0.575);
    cursor: pointer;
    border-left: none;
    background-color: var(--main-color);
}
.projectSearchBar form input:last-child:hover{
    background-color: rgb(16, 143, 194);    
}

.listProject{
    position: relative;
    top: 80px;
    margin: 100px 160px;
}
.listProject-filter{
    position: fixed;
    border-radius: 20px;
    padding: 20px;
    background-color: rgba(1, 106, 114, 0.089);
}
.listProject-filter .filter-btn-checkbox{
    display: none;
}
.listProject-filter .filter-btn{
    padding: 5px 20px;
    background-color: var(--main-color);
    width: fit-content;
    border-radius: 5px;
    color: #fff;
    margin-left: 120px;
}
.listProject-filter form label{
    display: block;
    font-size: 1.5rem;
    /* color: var(--main-color2); */
    margin: 30px 0 10px 0;
}
.listProject-filter form input{
    width: 130px;
    height: 30px;
    outline: none;
    border-radius: 5px;
    border: 1px solid black;
    padding-left: 30px;
}
.listProject-filter form select{
    width: 130px;
    border-radius: 5px;
    height: 30px;
    outline: none;
    padding-left: 30px;
}
.allListProject{
    margin-left: 26rem;
    height: 100vh;
}
@media only screen and (max-width: 1150px) {
    .projectSearchBar form input:first-child{
        width: 50vw;
    }
    .projectSearchBar form input:last-child{
        width: 70px;
    }
    .listProject{
        margin: 60px 10px;
    }
    .listProject-filter{
        background-color: white;
    }
    .listProject-filter .filter-btn{
        margin-left: 200px;
        font-size: 16px;
        cursor: pointer;
    }
    .listProject-filter .filter-btn-checkbox{
        opacity: 0;
    }
    .listProject-filter form{
        position: fixed;
        z-index: 150;
        /* top: 200px; */
        left: -370px;
        border-radius: 10px;
        /* opacity: 0; */
        background-color: rgba(29, 169, 224, 0.548);
        padding: 20px;
    }
    .listProject-filter .filter-btn-checkbox ~ form{
        transition: left .5s ease-in-out, opacity .5s ease-in-out;
    }
    .listProject-filter .filter-btn-checkbox:checked ~ form{
        left: 20px;
        opacity: 1;
    }
    
    

    .allListProject{
        margin-left: 0;
        position: relative;
        top: 35rem;
    }
}
