:root {
    --main-color: rgb(29,169,224);
    --main-color2: rgb(11, 97, 131);
}
textarea{
    width: 100%;
    padding: 15px;
    border: 2px solid black;
    border-radius: 5px;
}
.address{
    display: flex;
    margin: 10px 0;
    flex-wrap: wrap;
    justify-content: center;
}
.add{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.add .add{
    font-size: 80px;
    font-weight: 100;
    color: rgba(128, 128, 128, 0.356);
}
.add span{
    color: grey;
    text-transform: uppercase;
    font-weight: bold;
}
.defaultAddress{
    color: gray;

}
.addressSlot{
    height: 180px;
    flex-basis: 42%;
    margin: 0 10px;
    padding: 10px 15px;
    background-color: #fff;
    border-radius: 10px;
    border: 1px solid rgba(153, 153, 153, 0.315);
    margin-bottom: 20px;
}
.addressSlot p,
.addressSlot p strong{
    font-size: 13px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 10px;
}
.modifyAddress{
    bottom: 0;
}
.modifyAddress a{
    font-size: 13px;
    color: var(--main-color);
    padding-right: 10px;
}
.modifyAddress a:last-child{
    padding-left: 10px;
    border-left: 1px solid var(--main-color);
}
.modifyAddress a:hover{
    color:crimson;
    text-decoration: underline;
}


@media only screen and (max-width: 1252px){
    .addressSlot{
        flex-basis: 95%;
    }
    .profileMainContent{
        height: 100%;
    }
}