:root {
    --main-color: rgb(29,169,224);
    --main-color2: rgb(11, 97, 131);
}
.profile{
    position: relative;
    margin-top: 62px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 87vh;
    width: 100%;
}
.profilePage{
    width: 60%;
}
.profilePage h1.mainHeading{
    text-align: center;
    padding: 30px 0;
    width: 100%;
    background-color: var(--main-color);
    color: white;
    border-radius: 10px;
    font-size:150%;
    text-transform: uppercase;
}
.profileContent{
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
}
#side-nav {
    width: 250px;
    background-color: var(--main-color);
    border-radius: 10px;
    flex-basis: 24%;
}

#side-nav ul {
    padding: 20px 0 10px;
    display: flex;
    flex-direction: column;
    margin: 0;
}

#side-nav h2 {
    font-size: 1.6rem;
    padding: 10px 25px;
    color: #fff;
}

#side-nav ul a li {
    padding: 15px 25px;
    font-size: 1rem;
    font-weight: 400;
    list-style-type: none;
    cursor: pointer;
}

#side-nav ul a {
    text-decoration: none;
    color: #fff;
}

#side-nav ul li:active{
    font-weight: 600;
    color: black;
    border-left: 4px solid red;
}

#side-nav ul a li:hover {
    background-color: rgba(51, 51, 51, 0.582);
}

/* Profile Page Content Comman CSS*/

.profileMainContent{
    background-color: #fff;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.116);
    flex-basis: 73%;
    margin-left: 2.56%;
    border-radius: 10px;
    height: 650px;
    overflow: auto;
}
.mainContent h2{
    text-align: center;
    background-color: var(--main-color);
    border-top-left-radius: 10px;
    padding: 10px 0;
    color: #fff;
    border-top-right-radius: 10px;
}
/* Profile.html Custom CSS */

.profileMainContentArea{
    display: flex;
    flex-wrap: nowrap;
    margin: 20px 50px;
    padding-bottom: 30px;
    border-bottom: 2px solid var(--main-color);
}
.profileMainContentAreaImage{
    display: flex;
    align-items: center;
    justify-content: center;
}
.profileMainContentAreaImage img{
    width: 200px;
    border-radius: 50%;
    background-color: rgba(29, 169, 224, 0.548);
    border: 5px solid var(--main-color2);
}
.profileMainContentAreaDetails{
    display: flex;
    padding-left: 50px;
    justify-content: center;
    line-height: 30px;
    flex-direction: column;
}
.profileMainContentAreaDetails h1{
    color: var(--main-color);
}
.profileMainContentAreaDetails p{
    letter-spacing: 1px;
}
.profileMainContentAreaDetails .rating span{
    font-size: 30px;
}
.rating span{
    color: var(--main-color);
}
.profileMainContentExtra{
    display: flex;
    flex-wrap: nowrap;
    padding: 20px 60px;
    padding-bottom: 0;
    padding-left: 30px;
}
.profileMainContentExtraInsights{
    flex-basis: 50%;
}
.profileMainContentExtraDetails{
    flex-basis: 50%;
    line-height: 40px;
    border-left: 2px solid var(--main-color);
    padding-left: 40px;
}
.profileMainContentExtraDetails p+p{
    display: inline;
    color: var(--main-color);
    font-weight: bold;
}

.profileMainContentExtraInsights h2{
    font-weight: 400;
}
.insight{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 40px;
}
.insight span{
    font-size: 32px;
}

/* Tablet View */
@media only screen and (max-width: 1029px) {
.profilePage h1.mainHeading{
    font-size: 20px;
}
.profilePage{
    width: 90%;
}
#side-nav{
    position: relative;
    width: 100%;
}
#side-nav ul h2{
    display: none;
}
#side-nav ul{
    flex-direction: row;
    flex-wrap: nowrap;
    overflow: auto;
    /* width: 100; */
}
#side-nav ul a li{
    width: fit-content;
    padding: 0 30px;
}
.profileMainContent{
    flex-basis: 100%;
    margin-left: 0;
    margin-top: 15px;
}


}

/* Mobile View */
@media only screen and (max-width: 688px) {
    .profileMainContentAreaImage img{
        width: 100px;
        border: 2px solid var(--main-color2);
    }
    .profileMainContentAreaDetails{
        line-height: 25px;
    }
    .profileMainContentAreaDetails h1{
        font-size: 20px;
    }
    .profileMainContentAreaDetails p{
        font-size: 14px;
        letter-spacing: 0;
    }
}

@media only screen and (max-width: 375px) {
    
}

@media only screen and (max-width: 320px) {
    
}