@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

:root {
  --main-color: rgb(29,169,224);
  --main-color2: rgb(11, 97, 131);
}

/* Custom Scroll Bar */

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background-color: rgb(29,169,224);
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: var(--main-color2);
  height: 20px;
}
/* Scroll Bar End */

/* Text Selection Color */
::-moz-selection { /* Code for Firefox */
  color: #fff;
  background: #9e69b4;
}

::selection {
  color: #fff;
  background: #9e69b4;
}

/* End Text Selection color changer */

*{
  margin: 0;
  padding: 0;
  font-family: Roboto;
}
body, html{
  height: 100%;
  scroll-behavior: smooth;
  background-color: #fff;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  width: 100%;
  height: 62px;
  background: linear-gradient(to right,var(--main-color2), var(--main-color));
}
a{
  text-decoration: none;
  outline: none;
}
header h2 a{
  padding: 15px 0 0 80px;
  float: left; 
  color: #fff;
  text-decoration: none;
}
header ul {
  float: right;
  list-style-type: none; 
}
header ul li {
  display: inline-block;
  padding: 0 20px;
  color: #fff;
  line-height: 62px;
  font-weight: bold;
  width: 150px;
  font-size: 17px;
  text-align: center;
}
header ul a {
  text-decoration: none;
  color: #fff; 
}
header label{
  transition: 1s ease;
}
label #menu-open,
label #menu-close{
  position: fixed;
  font-size: 30px;
  color: #fff;
  float: right;
  top: 10px;
  right: 10px;
  line-height: 50px;
  margin-right: 30px;
  cursor: pointer;
  z-index: 10;
  display: none;
}
label #menu-close{
  font-size: 35px;
}
header #bid-menu{
  display: none;
}
header ul li:hover{
  background-color: var(--main-color2);
}

header ul li:last-child ul {
  display: none;
  position: absolute;
  top: 62px;
  background-color: var(--main-color);
  right: 0;
  width: 190px;
}
#drop{
  display: none;
}
header ul li:last-child ul li {
  display: block;
}
header ul li:last-child:hover>ul {
  display: inherit;
}
header ul a:nth-child(5),
header ul a:nth-child(6){
  display:none;
}


/* Banner */
.banner{
  position: relative;
  background-image: linear-gradient(rgba(0, 0, 0, 0.21), rgba(0, 0, 0, 0.01)), url("../Images/banner-img.jpg");
  /* background-image:  url("../Images/banner-img.jpg"); */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 75vh;
  top:55px
}
.banner-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
}
.banner-text h1{
  font-size: 5rem;
}
.banner-text p{
  font-size: 2rem;
  margin-bottom: 30px;
}
.banner-text a{
  display: inline-block;
  font-size: 1.3rem;
  text-decoration: none;
  color: #fff;
  background-color: var(--main-color);
  padding: 15px 30px;
  border-radius: 30px;
  box-shadow: 0px 0px 10px rgba(138, 136, 136, 0.575) inset;
}
.banner-text a img{
  -webkit-filter: brightness(10);
  filter: brightness(10);
  position: relative;
  z-index: 5;
}
.banner-text a > img{
  transition: 0.25s ease;
}
.banner-text a:hover{
  background-color: var(--main-color2);
  font-weight: bold;
}
.banner-text a:hover > img{
  margin-left: 8px;
}
.banner-text span{
  display: block;
  position: relative;
  z-index: 55;
  padding: 10px;
  width: 20px;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
}
.banner-text a:hover ~ span{
  top: 15px;
}

/* Banner Form */
.banner-form{
  width: 400px;
  border-radius: 10px;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.425);
}
.banner-form p{
  font-weight: bold;
  font-size: 15px;
  margin: 0;
}
.banner-form form input{
  height: 30px;
  color: var(--main-color2);
  padding: 0px 10px;
  margin: 10px 0;
  border-radius: 5px;
  outline: none;
  border: 0;
}
.banner-form form input::placeholder{
  color: var(--main-color2);
}
.banner-form form input:first-child{
  width: 275px;
}
.banner-form form input:nth-child(2){
  width: 50px;
}
.banner-form form input:nth-child(3){
  width: 195px;
}
.banner-form form input:last-child{
  width: 150px;
  background-color: var(--main-color);
  color: white;
  font-weight: bold;
  cursor: pointer;
}
/* Goto Top Button */

.go-to-top-button{
  position: fixed;
  z-index: 100;
  bottom: 15px;
  right: 15px;
  cursor: pointer;
  transition: bottom 0.2s ease-in-out;
}
.go-to-top-button a{
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 40px;
  color: #fff;
  height: 40px;
  font-size: 24px;
  background-color: var(--main-color);
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.329);
  margin: 4px;
}
.go-to-top-button:hover,
.go-to-top-button a:hover{
  bottom: 20px;
}

/* Browse Project List - Home Page */
.browse-project-list{
  position: relative;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  width: 100%;
  overflow: hidden;
  background: #fff;
  padding: 35px 0;
  color: var(--main-color);
  display: flex;
  flex-direction: column;
  justify-content: space-around; 
  align-items: center;
  padding-top: 90px;
  padding-bottom: 90px;
}
.browse-project-list-title{
  flex-basis: 50%;
  text-align: center;
  color: var(--main-color);
  margin-bottom: 30px;
}
.browse-project-list-title h1{
  font-size: 2.2rem;
  line-height: 2em;
}
.browse-project-list-content{
  flex-basis: 60%;
  display: flex;
  margin: 0 40px;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}
.browse-project-list-content a{
  text-decoration: none;
  color: var(--main-color);
  transition: font-weight .75s ease;
}
.browse-project-list-content a p{
  font-size: 1.3rem;
  background-color: #fff;
  padding: 10px 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.329);
  border-radius: 20px;
  font-weight: 500; 
  margin: 10px;
  transition: font-weight .75s ease, box-shadow .75s ease;
}

.browse-project-list-content p:hover,
.browse-project-list-content a:hover{
  font-weight: 900;
}
.browse-project-list-content p:hover{
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.329);
  /* background-color: var(--main-color2); */
}
#browse-project-list hr{
  width: 90%;
  margin: 0 5%;
  border: 2px solid rgba(68, 67, 67, 0);
  background-color: rgba(68, 67, 67, 0.5);
  border-radius: 20px;
}
/* Video Section */

.video-section{
  position: relative;
  width: 100%;
  padding: 50px 0;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  flex-wrap: no-wrap;
  align-items: center;
  justify-content: center;
}
.video-section-content{
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
}
.video-section-content i{
  color: var(--main-color);
  font-size: 70px;
}
.video-section-content h1{
  font-size: 3rem;
  color: var(--main-color);
  font-weight: 600;
}
.video-section-content hr{
  width: 150px;
  border: 2px solid var(--main-color);
  margin: 10px 0 20px 0;
  background-color: var(--main-color);
  border-radius: 20px;
}
.video-section-content p{
  width:-webkit-fit-content;
  width:-moz-fit-content;
  width:fit-content;
  color: var(--main-color2);
}
.video-section-video{
  margin-top: 50px;
}
.video-section-video iframe{
  width: 800px;
  height: 450px;
  border-radius: 20px;
}

/* CTA Create a Project */
#cta-create-project{
  position: relative;
  width: 100%;
  height: 310px;
  background: linear-gradient(to right,var(--main-color2), var(--main-color));;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  /* padding: 30px 0; */
}
#cta-create-project h1{
  font-size: 2.3rem;
  font-family: poppins;
  color: white;
}
#cta-create-project a{
  color: white;
  padding: 20px 30px;
  font-size: 1.3rem;
  font-weight: 600;
  margin-top: 20px;
  display: block;
  border: 4px solid #fff;
  border-radius: 50px;
  transition: background-color .5s ease, border .5s ease;
}
#cta-create-project a:hover{
  background-color: var(--main-color2);
  border: 4px solid transparent;
}

/* Footer */
footer{
  position: relative;
  background-color: #fff;
}
footer .top-footer a{
  font-weight: 600;
  color: var(--main-color);
}
footer .top-footer h2{
  font-weight: 900;
  cursor: default;
  color: var(--main-color2);
}
footer .top-footer{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: 50px 70px;
}
.foot-common h3{
  margin: 20px 0;
}
.foot-common:last-child select{
  display: block;
  margin-top: 20px;
  width: 220px;
  outline: none;
  height: 40px;
  border: 2px solid black;
  font-size: 1.1rem;
  border-radius: 6px;
  background-color: #fff;
  color: rgba(11, 97, 131, 0.678);
  font-weight: bold;
}
.foot-common:last-child select option:first-child{
  cursor: not-allowed;
}
.foot-common h3 a:hover{
  color: rgb(80, 124, 141);
}
.foot-common:last-child select option{
  border: 2px solid black;
  font-size: 1.1rem;
  border-radius: 6px;
  background-color: #fff;
  padding: 0 10px 0 0;
  color: rgba(11, 97, 131, 0.678);
  font-weight: bold;
}


.bottom-footer{
  background: linear-gradient(to right,var(--main-color2), var(--main-color));
  position: relative;
  z-index: 50;
}
.bottom-footer-content{
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.bottom-footer-content p{
  color: white;
}
.social-foot a{
  color: white;
  font-size: 35px;
  margin: 0 10px;
  transition: color .25s ease-in-out;
}
.social-foot a:first-child:hover{
  color: #4267B2;
}
.social-foot a:nth-child(2):hover{
  color: #00aced;
}
.social-foot a:nth-child(3):hover{
  color: #fb3958;
}
.social-foot a:nth-child(4):hover{
  color: #2867B2;
}
.social-foot a:last-child:hover{
  color: #FF0000;
}

/* Responsiveness */

/* Tablet Mode */
@media only screen and (max-width: 1150px) {
  
  label #menu-open{
    display: block;
  }
  header ul {
    position: absolute;
    position: fixed;
    background:rgba(29, 169, 224, 0.966);
    width: 250px;
    height: 100%;
    top: 0;
    right: -250px; 
    margin: 0px 0 0 0;
    transition: .5s ease;
    padding-top: 55px;
  }
  header h2 a{
    padding: 15px 0 0 30px;
  }
  header ul li {
    font-weight: bold;
    display: block;
    text-align: left;
    padding: 20px 20px;
    width: 250px; 
  } 
  header #bid-menu:checked ~ ul{
    right: 0;
  }
  header #bid-menu:checked ~ label #menu-open{
    display: none;
  }
  header #bid-menu:checked ~ label #menu-close{
    display: block;
  }
  header ul li:last-child label,
  header ul li:last-child label{
    display: none;
  }
  header ul li:last-child ul,
  #drop,
  header ul li:last-child ul li,
  header ul li:last-child:checked>ul {
    display: none;
  }
  header ul a:nth-child(5),
  header ul a:nth-child(6){
    display:block;
  }
  .banner-text h1{
    font-size: 3.3rem;
  }
  .banner-text p{
    font-size: 1.5rem;
  }
  .banner-text a{
    font-size: 1rem;
    padding: 10px 25px;
  }
  .banner-text a img{
    width: 30px;
  }
  .browse-project-list{
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .browse-project-list-title{
    flex-basis: 100%;
    text-align: center;
  }
  .browse-project-list-content{
    flex-basis: 100%;
    margin-top: 20px;
  }
  .browse-project-list-title h1{
    font-size: 2rem;
    line-height: 2.5rem;
  }
  .browse-project-list-content a p{
    font-size: 0.8rem;
    font-weight: 600;
  }
  .video-section-video iframe{
    width: 425px;
    height: 239.0625px;
  }
  .video-section-content h1{
    font-size: 2em;
  }
  #cta-create-project{
    height: 250px;
  }
  #cta-create-project h1{
    font-size: 1.3rem;
  }
  #cta-create-project a{
    font-size: 1rem;
    padding: 10px 15px;
    border: 2px solid #fff;
  }
  .go-to-top-button:hover,
  .go-to-top-button a:hover{
    bottom: 15px;
  }
  footer{
    padding: 0 15px;
  }
  footer .top-footer a{
    font-size: 12px;
  }
  footer .top-footer h2{
    font-size: 18px;
  }
  footer .top-footer{
    flex-wrap: wrap;
    max-width: 100%;
    padding: 50px 0;
  }
  .foot-common:first-child,
  .foot-common:nth-child(2),
  .foot-common:nth-child(3){
    margin-right: 10px;
  }
  .foot-common:last-child select{
    width: 150px;
    height: 35px;
    border: 1px solid black;
    font-size: 12px;
  }
  .foot-common:last-child select option{
    border: 1px solid black;
    font-size: 12px;
  }
  .foot-common h3{
    margin: 8px 0;
  }
  .social-foot a{
    font-size: 28px;
  }
}
@media only screen and (max-width: 425px) {
  footer .top-footer{
    max-width: 607px;
    padding: 20px 0;
  }
  footer .top-footer{
    max-width: 350px;
  }
  .foot-common{
    margin-top: 20px;
  }
  .video-section-video iframe{
    width: 320px;
    height: 180px;
  }
  .go-to-top-button{
    bottom: 30px;
    right: 30px;
  }
  .go-to-top-button a{
    width: 45px;
    height: 45px;
    font-size: 28px;
  }
  
}

