* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  outline: none;
}
body {
  background-color: #333;
  display: grid;
  height: 100vh;
}
main {
  height: 700px;
  border-radius: 10px;
  width: 500px;
  background-color: rgb(243, 243, 243);
  box-shadow: 0px 0px 20px 10px rgba(228, 148, 1, 0.644);
}
.topCard,
.btmCard {
  padding: 20px 30px;
}
.topCard {
  background-color: #f9b52e;
  border-radius: 10px 10px 0px 0px;
  color: #fff;
  height: 270px;
  display: grid;
  place-items: center;
  padding-top: 20px;
}
.userInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 30px;
  margin-top: 30px;
}
.userSocialProfile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
}
.profileImg {
  position: relative;
}
.profileImg img {
  width: 100px;
  border-radius: 100%;
  border: 1px solid #fff;
}
.profileImg::after {
  content: '\2713';
  position: absolute;
  display: block;
  bottom: 15px;
  text-align: center;
  right: 5px;
  width: 19px;
  height: 19px;
  border-radius: 50%;
  background-color: rgb(167, 35, 35);
}

.userSocialProfile i {
  font-size: 40px;
  color: #fff;
  transition: color 0.25s ease-in-out;
}
.userSocialProfile i:hover {
  color: #6f391c;
}
.dir {
  margin-top: 60px;
}
.btmCard {
  color: #333;
}
.analytics {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.analyticsSection {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.analyticsSection .number {
  color: #333;
  font-weight: bolder;
  font-size: 18px;
}
