@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap');

:root {
  --main-color: rgb(29,169,224);
  --main-color2: rgb(11, 97, 131);
}

/* Custom Scroll Bar */

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background-color: rgb(29,169,224);
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: var(--main-color2);
  height: 20px;
}
/* Scroll Bar End */



*{
  margin: 0;
  padding: 0;
  font-family: 'Quicksand', sans-serif;
}
body, html{
  height: 100%;
  scroll-behavior: smooth;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  width: 100%;
  height: 55px;
  background: linear-gradient(to right,var(--main-color2), var(--main-color));
}
a{
  text-decoration: none;
}
header h2 a img{
  filter: brightness(10);
}
header h2 a{
  padding: 15px 0 0 80px;
  float: left; 
  color: #fff;
  text-decoration: none;
}
header ul {
  float: right;
  list-style-type: none; 
}
header ul li {
  display: inline-block;
  padding: 0 20px;
  color: #fff;
  line-height: 55px;
  font-weight: bold;
  width: 150px;
  font-size: 17px;
  text-align: center;
}
header ul a {
  text-decoration: none;
  color: #fff; 
}
header label{
  transition: 1s ease;
}
label #menu-open,
label #menu-close{
  position: fixed;
  font-size: 30px;
  color: #fff;
  float: right;
  top: 10px;
  right: 10px;
  line-height: 50px;
  margin-right: 30px;
  cursor: pointer;
  z-index: 10;
  display: none;
}

header #bid-menu{
  display: none;
}
header ul li:hover{
  background-color: var(--main-color2);
}

header ul li:last-child ul {
  display: none;
  position: absolute;
  top: 55px;
  background-color: var(--main-color);
  right: 0;
  width: 190px;
}
#drop{
  display: none;
}
header ul li:last-child ul li {
  display: block;
}
header ul li:last-child:hover>ul {
  display: inherit;
}
header ul a:nth-child(5),
header ul a:nth-child(6){
  display:none;
}


/* Banner */
.banner{
  position: relative;
  background-image: linear-gradient(rgba(0, 0, 0, 0.657), rgba(0, 0, 0, 0.61)), url("Images/banner.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 75vh;
  top:55px
}
.banner-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
}
.banner-text h1{
  font-size: 5rem;
}
.banner-text p{
  font-size: 2rem;
  margin-bottom: 30px;
}
.banner-text a{
  display: inline-block;
  font-size: 1.3rem;
  text-decoration: none;
  color: #fff;
  background-color: var(--main-color);
  padding: 15px 30px;
  border-radius: 30px;
  box-shadow: 0px 0px 10px rgba(138, 136, 136, 0.575) inset;
}
.banner-text a img{
  -webkit-filter: brightness(10);
  filter: brightness(10);
  position: relative;
  z-index: 5;
}
.banner-text a > img{
  transition: 0.25s ease;
}
.banner-text a:hover{
  background-color: var(--main-color2);
  font-weight: bold;
}
.banner-text a:hover > img{
  margin-left: 8px;
}
.banner-text span{
  display: block;
  position: relative;
  z-index: 55;
  padding: 10px;
  width: 20px;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
}
.banner-text a:hover ~ span{
  top: 15px;
}



/* Goto Top Button */

.go-to-top-button{
  position: fixed;
  z-index: 100;
  bottom: 40px;
  right: 40px;
  cursor: pointer;
  transition: bottom 0.2s ease-in-out;
}
.go-to-top-button a{
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 60px;
  color: var(--main-color2);
  height: 60px;
  font-size: 35px;
  background-color: #fff;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.329);
  margin: 4px;
}
.go-to-top-button:hover,
.go-to-top-button a:hover{
  bottom: 50px;
}

/* Browse Project List - Home Page */
.browse-project-list{
  position: relative;
  height: max-content;
  width: 100%;
  overflow: hidden;
  background: #fff;
  padding: 35px 0;
  color: var(--main-color);
  display: flex;
  flex-direction: column;
  justify-content: space-around; 
  align-items: center;
  padding-top: 90px;
  padding-bottom: 90px;
}
.browse-project-list-title{
  flex-basis: 50%;
  text-align: center;
  color: var(--main-color);
  margin-bottom: 30px;
}
.browse-project-list-title h1{
  font-size: 2.2rem;
  line-height: 2em;
}
.browse-project-list-content{
  flex-basis: 60%;
  display: flex;
  margin: 0 40px;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}
.browse-project-list-content a{
  text-decoration: none;
  color: white;
}
.browse-project-list-content a p{
  font-size: 1.3rem;
  background-color: rgb(48, 182, 235);
  padding: 10px 20px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.329);
  border-radius: 20px;
  font-weight: 500; 
  margin: 10px;
}
.browse-project-list-content p:hover,
.browse-project-list-content a:hover{
  font-weight: 900;
}
.browse-project-list-content p:hover{
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.329);
  background-color: var(--main-color2);
}
#browse-project-list hr{
  width: 90%;
  margin: 0 5%;
  border: 2px solid rgba(68, 67, 67, 0);
  background-color: rgba(68, 67, 67, 0.5);
  border-radius: 20px;
}
/* Video Section */

.video-section{
  position: relative;
  width: 100%;
  padding: 50px 0;
  height: max-content;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  flex-wrap: no-wrap;
  align-items: center;
  justify-content: center;
}
.video-section-content{
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
}
.video-section-content i{
  color: var(--main-color2);
  font-size: 70px;
}
.video-section-content h1{
  font-size: 3rem;
  color: var(--main-color);
  font-weight: 600;
}
.video-section-content hr{
  width: 150px;
  border: 2px solid var(--main-color);
  margin: 10px 0 20px 0;
  background-color: var(--main-color);
  border-radius: 20px;
}
.video-section-content p{
  width:fit-content;
  color: var(--main-color2);
}
.video-section-video{
  margin-top: 50px;
}
.video-section-video iframe{
  width: 800px;
  height: 450px;
  border-radius: 20px;
}

/* CTA Create a Project */
#cta-create-project{
  position: relative;
  width: 100%;
  height: 300px;
  background: linear-gradient(to right,var(--main-color2), var(--main-color));;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  /* padding: 30px 0; */
}
#cta-create-project h1{
  font-size: 2.3rem;
  font-family: poppins;
  color: white;
}
#cta-create-project a{
  color: white;
  padding: 20px 30px;
  font-size: 1.3rem;
  font-weight: 600;
  margin-top: 20px;
  display: block;
  background-color: var(--main-color);
  border-radius: 50px;
}

/* Footer */
footer{
  position: relative;
}
footer .top-footer{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 50px 70px;
}
.foot-common{
  display: grid;
}
/* Responsiveness */

/* Tablet Mode */
@media only screen and (max-width: 1150px) {
  
  label #menu-open{
    display: block;
  }
  header ul {
    position: absolute;
    position: fixed;
    background:rgba(29, 169, 224, 0.966);
    width: 250px;
    height: 100vh;
    top: 0;
    right: -250px; 
    margin: 0px 0 0 0;
    transition: .5s ease;
  }
  header ul li {
    font-weight: bold;
    display: block;
    text-align: left;
    padding: 20px 20px;
    width: 250px; 
  } 
  header #bid-menu:checked ~ ul{
    right: 0;
  }
  header #bid-menu:checked ~ label #menu-open{
    display: none;
  }
  header #bid-menu:checked ~ label #menu-close{
    display: block;
  }
  header ul li:last-child label,
  header ul li:last-child label{
    display: none;
  }
  header ul li:last-child ul,
  #drop,
  header ul li:last-child ul li,
  header ul li:last-child:checked>ul {
    display: none;
  }
  header ul a:nth-child(5),
  header ul a:nth-child(6){
    display:block;
  }
  .banner-text h1{
    font-size: 3.3rem;
  }
  .banner-text p{
    font-size: 1.5rem;
  }
  .banner-text a{
    font-size: 1rem;
    padding: 10px 25px;
  }
  .banner-text a img{
    width: 30px;
  }
  .browse-project-list{
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .browse-project-list-title{
    flex-basis: 100%;
    text-align: center;
  }
  .browse-project-list-content{
    flex-basis: 100%;
    margin-top: 20px;
  }
  .browse-project-list-title h1{
    font-size: 2rem;
    line-height: 2.5rem;
  }
  .browse-project-list-content p{
    font-size: 0.8rem;
    font-weight: 600;
  }
  .video-section-video iframe{
    width: 400px;
    height: 225px;
  }
  .video-section-content h1{
    font-size: 2em;
  }
}

